@font-face {
font-family: 'DSEG14';
font-style: normal;
font-weight: normal;
src: local('DSEG14 Classic-Bold Italic'), url('DSEG14Classic-BoldItalic.woff') format('woff');
}

.calc {
  position: relative;
  width: 320px;
  height: 550px;
  margin: 0 auto;
  margin-top: 150px;
  border-radius:  25px  0px 25px 0;

  box-shadow: 10px 10px 25px 1px rgba(0, 0, 0, .3);
}

.numerico{
  position: relative;
  background-color: #17172E;
  float: left;
  height:320px;
  width: 240px;
  border-radius:  0  0 0 5px;
}

.operadoresdir{
  position: relative;
  display: inline-block;
  height: 320px;
  width: 80px;
  background-color: #17172E;
  border-radius:  0  0 25px 0;
}

.operadorestop{
  position: relative;
  background-color: #17172E;
  height: 80px;
  width: 320px;
}

.keyboard > span {
  position: relative;
  float: left;
  display:  inline-block;
  width: 80px;
  height: 80px;
  cursor: pointer;
  text-align: center;
}

.keyboard > div {
  float: left;
}

.operadoresdir > span {
  height:  160px;
  line-height: 160px;
}

.operadorestop .ac {
  background-color:  #17172E;

}

.operadoresdir .result{
  background-color: #f2795a;
  border-radius:  0  0 25px 0;
}

.keyboard .num0{
  width: 160px;
}


.keyboard > span > h1 {
  line-height: 38px;
  color: white;
  cursor: pointer;
  font-size: 30px;
  font-family: 'Arimo', sans-serif;
  font-weight: 100;

}

.calc .keyboard .ac > h1{
  color: #f2795a;

}

.keyboard .operadoresdir .hi{
  line-height: 160px;
}

.vis {
  position: relative;
  width: 320px;
  height: 150px;
  background-color: #6FC7B8;
  font-family: dseg14;
  color: #3B796B;
  border-radius:  25px 0 0 0;

}

.vis > span{

  float: right;
  line-height: 148px;
  margin-right: 20px;
  font-size: 60px;
}

.keyboard .key .hi{
  font-size: 50px;
  line-height: 12px;
  font-weight: 800;
}

.keyboard .result .hi{
  font-size: 50px;
  font-weight: 600;
  line-height: 95px;
}

.keyboard .opplus .hi{
  font-size: 40px;
  font-weight: 600;
  line-height: 95px;
}

.numerico .ponto > h1{
  font-size: 40px;
  font-weight: 600;
  line-height: 9px;
}


/*
.vise{
  color: red;
  margin-top: 5px;
  margin-right: 7px;

}
*/
